<h1>mXcomment</h1>
<p>mXcomment is a component for manage comment's Joomla! articles.This version
support Joom!fish and compatible Joomla 1.0.x, Joomla 1.5 and Mambo
4.6.2.</p>
<p><strong>Features :</strong><br />
    <br />
    - Admin review (in admin panel)<br />
    - Rating Admin <br />
    - Rating Users (registered only)<br />
    - Comment users<br />
    - System of favoured<br />
    - Quote an article on your website<br />
    - Save an article to del.icio.us<br />
    - Related Items<br />
    - Keywords (tags)<br />
    - Template system for article: intro, fulltext and comments<br />
    - Multi-page supports<br />
    - Auto-publish or moderation by admin<br />
    - Public or registered users only<br />
    - Comment closed support<br />
    - Report system to admin<br />
    - Reply on comments (1 level) <br />
    - Mode manual, semi-automatic or automatic<br />
    - Search mambot for comment<br />
    - RSS feed on comments<br />
    - BBCode supports<br />
    - Alert system on new comment<br />
    - MathGuard<br />
    - Badwords filtering integrated<br />
    - Spam prevention with Akismet spam detection service integrated<br />
- Support SEF (Tested with SefAdvance and Artio JoomSEF)
<p><strong>Integration</strong> :</p>
<p> - Community Builder ( To profil comment's author and avatar )<br />
  - Security Image<br />
  - Support Gravatar<br />
  - VisualRecommend<br />
  <br />
  <br />
- 6 optional modules available</p>
<h2>Installation</h2>
<p>Easy installation by one click / one step (component and mambots) with import AkoComment Tweaked Specal Edition 1.4.x<br>
  You just check that the mambot/plugin is published and placed in last position (mambots/plugins for content).<br>
  If you use mXcomment with Joomla 1.5.x and SEF enabled, check the suffix (.html) is enabled too.
</p>
<p>===================================================================</p>
<p>Changelog:<br>
  <br>
  ------------------------- version 1.0.9 released -------------------------</p>
<p>Bug fix :</p>
<p>- Click on Print and sendmail with IE (Internet Explorer)<br>
- Keywords with Joomla 1.5.x<br>
- Title link with Joomla 1.5.x<br>
- Display (or not) on frontend with Joomla 1.5.x<br>
- Fixed error on Clean Cache with Joomla 1.5.x<br>
- 
Change include CSS for mXcomment template<br>
- 
Change include javascript function mxclightup<br>
- Load form on full article only<br>
- Reply function if comment closed
<br>
<br>
Added :</p>
<p>- Patch for Security Image 4 &amp; 5<br>
  - Vietnam language<br>
  - Finnish utf-8 language</p>
<p><br>
------------------------- version 1.0.8 released&nbsp; -------------------------</p>
<p>Bug fix :</p>
<p>- comments RSS<br>
  - Link to CB on author article<br>
- Toolbar administrator panel (badwords, Block-IP, editor comment, user comment ....)<br>
- Favoured : Reset auto in admin panel<br>
- Rating on edit comment  in admin panel<br>
</p>
<p>------------------------- version 1.0.7 released&nbsp; -------------------------</p>
<p>Bug fix :</p>
<p>- link readmore with SEF enabled<br />
  - link favoured with Joomla 1.5 and SEF enabled<br />
  - link print with Joomla 1.5 and SEF enabled<br />
  - link send to friend with Joomla 1.5 and SEF enabled<br />
  - link quote this article with Joomla 1.5 and SEF enabled<br />
  - link related item with Joomla 1.5 and SEF enabled<br />
  - link report with Joomla 1.5 and SEF enabled<br />
  - link reply with Joomla 1.5 and SEF enabled<br />
  - Section and category<br />
  - Javascript Function mxclightup<br />
  - Remove gap between title and the article<br />
</p>
<p> ------------------------- version 1.0.6 released&nbsp; -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - Tag php in Class MathGuard<br />
    - RssFeed<br />
    - Link Readmore with Joomla 1.5<br />
    - Title linkable with Joomla 1.5<br />
    - Prevent on load module<br />
    - Prevent double post<br />
    - IPBlock<br />
    <br />
    Added:<br />
    <br />
- email sender in notify admin</p>
<p><br />
  ------------------------- version 1.0.5 released -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - Name and ID of comment form<br />
    - Extra tags in top of content<br />
    - TOC pagination<br />
    - Improvement of the prevention to load in module<br />
    <br />
    Added :<br />
    <br />
    - MathGuard Security<br />
    - Block IP addresses system<br />
    - Turkish language<br />
    - Translation of Cpanel</p>
<p><br />
    <br />
    ------------------------- version 1.0.4 released -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - Get params mambot/plugin with Joomla! 1.5<br />
    - Javascript: Counter text comment function<br />
    - Problem with save configuration (adding other var)<br />
    - Time offset in comment<br />
    - Bug with 'Expand' template on sending comment with SEO<br />
    - Url twice<br />
    - display icon or link editor's rating on set no in features<br />
    - Link to CB author article and CB author comment<br />
    <br />
    Added :<br />
    - Dutch language for templates<br />
    - Finnish language for templates<br />
    - Spanish language for templates</p>
<p>&nbsp;</p>
<p>------------------------- version 1.0.3 released -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - minor bugs fix<br />
    - Alert email on new comment<br />
    - Bad character in rating image function<br />
    - Fix error if var sectionid not exist<br />
    - minor bugs fix in templates<br />
    - Prevent load mambot in module<br />
    <br />
    <br />
    Added :<br />
    <br />
    - Compatible Joomla 1.5 (legacy mode)<br />
    - Compatible Mambo 4.6.2<br />
    - Full integration with Joomfish<br />
    - disabled/enabled on intro only (in params mambot content)<br />
    - Show favoured counter in template<br />
    - Show/hide title comment<br />
    - Show/hide email field<br />
    - Badwords filtering on author comment<br />
    - Gravatar integration<br />
    - Italian language<br />
    - German language<br />
    - Czech language</p>
<p>&nbsp;</p>
<p>------------------------- version 1.0.2 released -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - maxcommentbot.php -&gt; not show in front-end<br />
    - remove all \n and replace by <br />
  in language files<br />
  - hide read more link if there no more<br />
  - real name VS username</p>
<p>Added :<br />
    <br />
    - num comment on link "User comments"<br />
    - Unsubscribe to comment follow-up<br />
    - show/hide Ip user's comment<br />
    - languages files in template<br />
    - Dutch language<br />
    - Spanish language<br />
    - Russian language </p>
<p>------------------------- version 1.0.1 released -------------------------<br />
    <br />
    Bug fix :<br />
    <br />
    - save comment on SEO<br />
    - max width avatar<br />
    - notify admin and report : possibility of sending to several email's admin separated by ;<br />
    - remove &amp;quote; in files language<br />
    - bad url on quote if SEO<br />
    - corrects templates<br />
    <br />
    Added :<br />
    <br />
    - turn off mXcomment on front-end (in params mambot)<br />
    - hungarian language<br />
    - finnish language </p>
