 /** All this vars can be used in template */<br>
<br>
/** @string : show Content Article (intro or fulltext) with all others mambots */<br>
<strong>$_MXC-&gt;CONTENT</strong> <br>
/** @string : provide id content article to comment */<br>
<strong>$_MXC-&gt;CONTENTID </strong><br>
/** @string : link to User's comments [image or link]*/<br>
<strong>$_MXC-&gt;USERCOMMENTS </strong><br>
/** @string : Count User's comments for an article */<br>
<strong>$_MXC-&gt;COUNTCOMMENT </strong><br>
/** @string : Link for add a comment */<br>
<strong>$_MXC-&gt;LINKADDCOMMENT </strong><br>
/** @string : Link for readmore */<br>
<strong>$_MXC-&gt;MORECOMMENTS </strong><br>
/** @string : author comment */<br>
<strong>$_MXC-&gt;AUTHORCOMMENT </strong><br>
/** @string : show form to add comment [Direct display, not called by a link]*/<br>
<strong>$_MXC-&gt;SHOWFORM </strong><br>
/** @boolean : close comment for an item*/<br>
<strong>$_MXC-&gt;COMMENTCLOSED </strong><br>
<br>
/** @string : link to Editor's comment [image or link]*/<br>
<strong>$_MXC-&gt;EDITORCOMMENT </strong><br>
/** @string : Editor's comment Title*/<br>
<strong>$_MXC-&gt;E_TITLE </strong><br>
/** @string : Editor's comment */<br>
<strong>$_MXC-&gt;E_COMMENT </strong><br>
/** @string : Editor's comment Date created*/<br>
<strong>$_MXC-&gt;E_DATE </strong><br>
<br>
/** @string : show Author article */<br>
<strong>$_MXC-&gt;AUTHORARTICLE </strong><br>
/** @string : show date created */<br>
<strong>$_MXC-&gt;DATECREATED </strong><br>
/** @string : show last update date */<br>
<strong>$_MXC-&gt;LASTUPDATE </strong><br>
/** @string : link to section */<br>
<strong>$_MXC-&gt;SECTION</strong> <br>
/** @string : link to category */<br>
<strong>$_MXC-&gt;CATEGORY </strong><br>
/** @string : link to keywords */<br>
<strong>$_MXC-&gt;KEYWORDS </strong><br>
/** @string : link for add this article on del.icio.us [image or link] */<br>
<strong>$_MXC-&gt;DELICIOUS </strong><br>
/** @string : link to quote this article on your website [image or link] */ <br>
<strong>$_MXC-&gt;QUOTETHIS </strong><br>
/** @string : show Hits/views [ + icon popular if enabled] */<br>
<strong>$_MXC-&gt;HITS </strong><br>
/** @string : link to favoured [image or link] */<br>
<strong>$_MXC-&gt;FAVOURED </strong><br>
/** @string : link to print this article [image or link] */<br>
<strong>$_MXC-&gt;PRINT </strong><br>
/** @string : link to send email [image or link] */<br>
<strong>$_MXC-&gt;SEND </strong><br>
/** @string : link to related articles [image or link] */<br>
<strong>$_MXC-&gt;RELATEDARTICLES </strong><br>
/** @string : link to read more [image or link] */<br>
<strong>$_MXC-&gt;READMORE </strong><br>
/** @string : show editor rating [image or notes if level &gt; 5] */<br>
<strong>$_MXC-&gt;EDITORRATING </strong><br>
/** @string : show user rating [image or notes if level &gt; 5] */<br>
<strong>$_MXC-&gt;USERSRATING </strong><br>
/** @string : show num average */<br>
<strong>$_MXC-&gt;AVERAGE </strong><br>
/** @string : show num votes */<br>
<strong>$_MXC-&gt;VOTES </strong><br>
/** @string : show Image for RSS comment */<br>
<strong>$_MXC-&gt;RSSCOMMENTS </strong><br>
/** @string : show link [RSS 2.0] for RSS comment */<br>
<strong>$_MXC-&gt;RSSCOMMENTSLINK  </strong><br>
<br>

/** @string : show count favoured */<br>
<strong>$_MXC-&gt;COUNTFAVOURED </strong><br>
/** @string : show language Choice */<br>
<strong>$_MXC-&gt;LANGUAGECHOICE  </strong><br>
/** @string : provide current language code (example: en=english, fr=french, ...)*/<br>
<strong>$_MXC-&gt;CLANG  </strong><br>
